.footer {
  display: flex;
  width: 100%;
  height: 440px;
  justify-content: center;
  align-items: center;
  background: var(--Button, #000);
}

.footer__tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* .tabs__list__one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.tabs__item__one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tabs__item__logo {
  display: flex;
  width: auto;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.tabs__item__logo__text {
  color: var(--Text, #fafafa);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.72px;
}

.tabs__item__Sub {
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}

.tabs__item__text {
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.tabs__input {
  display: flex;
  width: auto;
  padding: 12px 0px 12px 16px;
  align-items: center;
  border-radius: 4px;
  border: 1.5px solid var(--Text, #fafafa);
}

.tabs__input__email {
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.4;
  margin-right: 32px;
}

.tabs__input__icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.tabs__list__two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tabs__item__Sup {
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}

/* .tabs__item__two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.tabs__item__two__text {
  width: auto;
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

/* .tabs__list__three .tabs__list__four .tabs__list__five {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.tabs__item__Acc,
.tabs__item__Quick,
.tabs__item__Download {
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24px;
}

/* .tabs__item__three .tabs__item__four .tabs__item__five{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.tabs__item__text {
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.tabs__item__text__Save {
  color: var(--Text, #fafafa);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  opacity: 0.7;
  margin-bottom: 12px;
}

.tabs__link {
  display: flex;
}

.tabs__contact {
  display: flex;
  margin-bottom: 24px;
  border: 2.5px solid var(--Primary, #fff);
}

.tabs__facebook,
.tabs__twitter,
.tabs__instagram,
.tabs_in {
  margin-right: 24px;
}
