@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans&family=Saira+Extra+Condensed:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans&family=Saira+Extra+Condensed:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --Button: #000000;
  --Text: #fafafa;
  --Text2: #000000;
  --Secondary: #F5F5F5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.swiper_banner .swiper-pagination {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 0.25rem !important;
}

.swiper_banner .swiper-pagination-bullet {
  box-sizing: content-box !important;
  background: #ffffff !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  opacity: 0.5 !important;
}

.swiper_banner .swiper-pagination-bullet-active {
  box-sizing: border-box !important;
  background: #db4444 !important;
  border: solid #ffffff 0.125rem !important;
  width: 0.875rem !important;
  height: 0.875rem !important;
  opacity: 1 !important;
}

.cover_carousel_flash_sale {
  position: relative;
  height: 100%;
}

.swiper_flash_sale .swiper {
  width: 100%;
  height: 100%;
}

.swiper_flash_sale .swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.875rem;
  /* height: 100%; */
}

/* .swiper_flash_sale .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.cover_carousel_categories {
  position: relative;
  height: 100%;
}

.swiper_categories .swiper {
  width: 100%;
  height: 100%;
}

.swiper_categories .swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.625rem;
  /* height: 100%; */
}

/* .swiper_categories .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper_our_products .swiper {
  width: 100%;
  height: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}

.swiper_our_products .swiper-slide {
  text-align: center;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.875rem;
  /* height: 100%; */
}

/* .swiper_our_products .swiper-grid-column>.swiper-wrapper {
  flex-direction: unset !important;
} */