.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 40px 0px 135px 135px;
}

.container__title {
  display: flex;
  align-items: flex-start;
  gap: 51px;
}

.container__Men {
  display: flex;
  align-items: flex-start;
  gap: 71px;
}

.container__title__text {
  color: var(--Text2, #000);
  text-align: center;
  /* Title/16PX Regular */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.container__title__icon {
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
}

.header {
  width: 100%;
  height: max-content;
  background: var(--BG, #fff);
}

.context {
  width: auto;
  height: 344px;
  flex-shrink: 0;
  background: var(--Text2, #000);
}

.context__img {
  width: 496px;
  height: 352px;
  flex-shrink: 0;
  background:
    url(https://s3-alpha-sig.figma.com/img/dc40/ba89/7215f42e5883a64157f0aa3a4d1a866a?Expires=1699228800&Signature=a923ucGw1PORO80-SjNmo2wMY-KBd2OACCcvmP36Mgr1w3hIExdRhIi9ooYjxueNkzXe9zQKWQJnvd3uayyY6MYgD8cWvvUSc4i3SxqvDBXzBuK~QnF4jzU3mKSfENOut7MbqbfJ1aJQzeXxCWU0Qo0jxgq~PAG1394rb4oQeEZSzmwwIZNc4LsBDOZ5pp8NgCUoiBtb3VtIkRWf63lViG1dNK6zN0aEtSr9471XHm9zclMvQCAKAEbrFwWAQtH9Wu3kqXR1oNinsu-ektq7~PtTw-j5lJCPnyvT44Ku0WFbnuY0ZSReqKSzgdPG-6sZRLhvUZ-HS6zZOlfkv5cZww__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4),
    lightgray 50% / cover no-repeat;
}
